PORT=3000
NODE_ENV=development

DATABASE_URL=mongodb://localhost:27017/ManagePro

JWT_SECRET=
JWT_EXPIRE=30d

ORS_ORIGIN=http://localhost:4200

ENCRYPTION_KEY=

STRIPE_SECRET_KEY=

STRIPE_WEBHOOK_SECRET=
